.view {
    display: flex;
    width: 100%;

    .viewContainer {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;
            width: 700px;
            height: fit-content;
            margin-left: 300px;

            .left {
                flex: 1;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 20px;
                position: relative;

                h1 {
                    color: black;
                    font-weight: 900;
                    font-size: 29px;
                    margin-top: 10px;
                    text-align: center;
                }

                .editButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    font-size: 14px;
                    font-weight: 800;
                    color: #6944f0;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 5px 5px 5px 5px;
                }

                .viewButton {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 10px;
                    font-size: 14px;
                    font-weight: 800;
                    color: #f04452;
                    background-color: #7551f818;
                    cursor: pointer;
                    border-radius: 5px 5px 5px 5px;
                }

                .item {
                    display: flex;
                    gap: 20px;
                    color: black;
                    font-weight: 900;
                    font-size: 25px;
                }

                .itemImg {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-top: 50px;
                }

                .postSection,
                .userSection,
                .orderSection,
                .bookSection {
                    margin-top: 30px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }

                .details {
                    display: flex;
                    flex-direction: column;

                    .itemTitle {
                        margin-bottom: 10px;
                        color: #555;
                        margin-left: 50px;
                    }

                    .images-container {
                        display: flex;
                    }

                    .bookImage {
                        width: 100px;
                        height: 100px;
                        display: block;
                        margin-top: 10px;
                        border-radius: 50px;
                        margin-right: 80px;
                    }

                    .detailItem {
                        margin-bottom: 10px;
                        font-size: 14px;
                        margin-left: 50px;
                        font-size: 20px;

                        .itemKey {
                            font-weight: bold;
                            color: gray;
                            margin-right: 5px;
                        }

                        .itemValue {
                            font-weight: 300;
                        }

                    }
                }
            }
        }

        .right {
            flex: 2;

        }
    }

    .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 10px 20px;
    }

    .title {
        font-size: 20px;
        color: lightgray;
        // margin-bottom: 5px;
    }

    .nestedDetails {
        margin-left: 15px;
    }

    .nestedItem {
        margin-bottom: 5px;
    }

}